*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 10px 0px solid black;
    width: 300px;
    height: 400px;
    margin: auto;
}

h1{
    font-family:'DM Serif Disdplay' , serif;    align-items: center;
    font-size: 60px;
    letter-spacing: -.02em;
    margin: 30px;
    margin-left: 0;
}

main{
    margin-left: 80px;
}
.aboutme{
    justify-content: center;
    font: normal 20px arial;
    width: 550px;
    width: 750px;
    padding: 1%;
    max-width: 550px;
    border-radius: 9px;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    line-height: 1.4;        /* melhora leitura */
    hyphens: auto;        /* quebra palavras corretamente */
    margin-right:30px;
}

a, #copiaveis{
    display: block;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(119, 112, 112);
    border: 3px solid rgb(63, 61, 59);
    padding: 2%;
    align-items: left;
    width: 500px;
    height:auto;
    margin-bottom: 10px;
    transition: all 0.25 ease;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    border-radius: 5px;
}

a:hover{
    background: rgba(54, 46, 39, 0.507);
    border-color: rgb(182, 87, 24);
}

a:hover, #copiaveis:hover{
    background: rgba(54, 46, 39, 0.507);
    border-color: rgb(236, 120, 42);
}

#minhafoto{
    height:400px;
    width: 380px;
    border: 10px solid rgba(29, 26, 26, 0.39);
}

.me{
    display:inline-flex;
    gap:200px;
}

#minhafoto{
    height:380px;
    width: 380px;
    border: 10px solid rgba(29, 26, 26, 0.39);
}

.home{
    display: inline-flex;
    justify-content:space-around;
    align-items: baseline;
    gap: 150px;
}

#quemsoueu{
    font-size: 75px;
    margin: 0 auto;
    font-style: italic;
    color: rgb(190, 163, 38);
}


.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(90, 63, 63, 0.623);
    padding: 20px;
    width: 100%;
}
.links{
    display: flex;
    list-style:none;
    gap: 50px;
    margin-left:75px;
    font-size: 20px;
}

.dark,.light:hover{
    cursor: pointer;
}